.profile-card {
    width: 100%;
    text-align: center;
    color: white;
    padding: 15px 0;
    line-height: 1.4;
    background-color: #33393c;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
    height: 85px;
    width: 80px;
    background-color: black;
    border 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

